---
layout: default
featured:
   -
      icon: fa-solid fa-carrot
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
         perferendis iusto blanditiis aut perspiciatis inventore, odit fugiat
         praesentium veniam ducimus esse repudiandae! Corporis alias mollitia
         quae magnam eveniet, nemo porro.
   -
      icon: fa-solid fa-cloud
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
         perferendis iusto blanditiis aut perspiciatis inventore, odit fugiat
         praesentium veniam ducimus esse repudiandae! Corporis alias mollitia
         quae magnam eveniet, nemo porro.
   -
      icon: fa-solid fa-apple-whole
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
         perferendis iusto blanditiis aut perspiciatis inventore, odit fugiat
         praesentium veniam ducimus esse repudiandae! Corporis alias mollitia
         quae magnam eveniet, nemo porro.
   -
      icon: fa-solid fa-pizza-slice
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
         perferendis iusto blanditiis aut perspiciatis inventore, odit fugiat
         praesentium veniam ducimus esse repudiandae! Corporis alias mollitia
         quae magnam eveniet, nemo porro.
---
<!----------------------- Header Banner  ------------------------>
        <header class="grid tall-100 md-tall-80"> 
            
            {% include header-nav.html %}

            <div class="col-12 center">
                <h3 class="font-weight-extra-bold editable" data-aos="fade-in" data-aos-duration="1000">
                    <span class="featured-text"> sleep</span> like a baby
                </h3>
                <h1 class="font-weight-light editable" data-aos="fade-up" data-aos-delay="500">
                    the ultimate mattress solution
                </h1>
                </div>
        </header>   

        <!----------------- Gallery/About Section ----------------->
        <section class="grid">
            <div class="padded col-6_xs-12-middle" data-aos="fade-right">
                <h2 class="editable">
                    built to last a <span class="featured-text">lifetime</span>
                </h2>
                <p class="editable">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus a eum, magnam quas est et inventore, <strong>libero placeat</strong> necessitatibus labore incidunt explicabo laborum, nam veniam laudantium similique consequuntur eaque tempora?
                </p>
                <p class="editable">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, ab deleniti minima similique nostrum asperiores vel <a target="_blank" rel="noopener" href="https://www.google.com">qui velit possimus</a> veritatis ut, impedit consequatur facilis perferendis, eligendi aliquid harum? Aliquam, id!
                </p>
            </div>
            <div class="bg-bedroom col-6_xs-12 tall-70 hide-xs">
                <!-- background image bed -->
            </div>
            <div class="bg-pug col-6_xs-12 tall-70">
                <!-- background image pub sleeping -->
            </div>
            <div class="padded col-6_xs-12-middle" data-aos="fade-left">
                <h2 class="editable">so <span class="featured-text">soft </span> you'll melt</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus a eum, magnam quas est et inventore, libero placeat necessitatibus labore incidunt explicabo laborum, nam veniam laudantium similique consequuntur eaque tempora?</p>
            </div>
        </section>
    
        <!----------------- Feature Icon Grid ----------------->
        <section class="padded grid-center bg-dark">
            <div class="padded-sm col-12 center editable" data-aos="fade-in">
                <h2><span class="featured-text">features </span>you will love</h2>
            </div>

            {% for item in page.featured %}

            <div class="padded-sm col-3_sm-6 xxs-stack ">
                <i class="{{item.icon}}"></i>
                <p>{{item.description}}</p>
            </div>

            {% endfor %}

        </section>

        <!----------------- Image Banner ----------------->
        <section class="padded center bg-pillow tall-70 grid">
            <div class="col-12-middle">
                <h3 class="big-text">
                    <span class="small-text font-weight-normal">never underestimate the power of</span>
                    <br />a good night <span class="white-text">sleep</span>
                </h3>
            </div>    
        </section>

        <!----------------- Testimonial Section ----------------->
        {% include testimonial.html %}

    
