 
 <!-- DO NOT USE Unless have simple chnages that can be populated...too much of a pain for text involving spans with featured text -->


 <!----------------------- Header Banner  ------------------------>
 <header class="grid {{page.header-image}} {{page.header-height}}"> 
            
    <div class="header-nav col-12-top grid"> 
        <div class="col-5_sm-12-middle sm-padded-b-0"> 
            <a href="/index.html" class="logo"> 
                <h2> The Sleep Co </h2>
            </a>
        </div>
        <nav class="col-7_sm-12-middle right sm-center">
            <a href="/index.html"> Home </a>
            <a href="/about.html"> About </a>
            <a href="/products.html"> Products </a>
            <a href="/contact.html"> Contact </a>
        </nav>
    </div>

    <div class="col-12 center">
        <h3 class="font-weight-extra-bold editable">
            <span class="featured-text"> sleep</span> like a baby
        </h3>
        <h1 class="font-weight-light editable">
            the ultimate mattress solution
        </h1>
        </div>
</header> 


<!-- THIS IS THE FRONT MATTER YOU WOULD USE ON EACH PAGE (these classes would have be set up in CSS first), however the spans would add complexity, so would be better to use without spans; otherwise use the other option -->

<!--  --- -->
<!--  header-height: tall-60 -->
<!--  header-image: bg-sheets -->
<!--  header-heading:  -->
<!--  header-subtitle:  -->
<!--  --- -->