<!-- Styles -->
<style>

    :root {
        --featured: {{site.data.site-settings.design.featured_color}};
        --white: {{site.data.site-settings.design.white_color}};
        --dark: {{site.data.site-settings.design.dark_color}};
        --light: {{site.data.site-settings.design.light_color}};
        --subtitle: {{site.data.site-settings.design.subtitle_color}};
        --quote: {{site.data.site-settings.design.quote_color}};
        --active-gallery: {{site.data.site-settings.design.active-gallery_color}};
        --active-gallery-subtitle: {{site.data.site-settings.design.active-gallery-subtitle_color}};
        --main: {{site.data.site-settings.design.main_font}};
        --paragraph: {{site.data.site-settings.design.paragraph_font}};
    }

</style>